@use "../../styles/colors";

.mtg-card-scheme {
  border-radius: 6%;
  max-width: 520px;
}

.mtg-scheme-card {
  margin-left: auto;
  margin-right: auto;
  max-width: 520px;
}

.child-overlay {
  padding-top: 25%;
}

.rotated {
  $rotate: rotate(90deg);
  $translate: translate(0, -100%);
  $scale: scale(0.685);

  &.card_image {
    transform: $rotate $translate;
    display: block;
    transform-origin: top left;
    margin-top: -35%;

    &.scaled {
      transform: $rotate $scale $translate;
    }
  }

  &.card_image__outer {
    display: "table";
  }

  &.card_image__inner {
    padding: 35% 0;
    height: 0;
  }
}
