// sass-lint:disable force-pseudo-nesting, no-important
@use "../../../styles/colors";

.planar .dice {
  .dot {
    // sass-lint:disable-block property-sort-order, no-vendor-prefixes

    // Override Dice Style
    background: none !important;

    // Reposition Dot for Planeswalk symbols
    left: 10px !important;
    top: 10px !important;

    // Import Symbol Code
    -webkit-font-smoothing: antialiased;
    font: normal normal normal 14px/1 Mana;
    font-size: 2.5em;
    line-height: 1em;
    speak: none;
    text-rendering: auto;
    text-transform: none;
    transform: translate(0, 0);
    vertical-align: middle;
  }

  .face {
    background-color: colors.$translucent !important;

    &.one {
      .dot:first-child {
        // Flip the planeswalk symbol upright
        transform: rotateX(180deg) translateY(-30px);
      }

      .dot:first-child::before {
        // Planeswalk
        content: "\e623";
      }
    }

    &.six {
      .dot:first-child::before {
        // Chaos
        content: "\e61d";
      }
    }
  }
}
.planar .dice {
  .face {
    background-color: rgba(colors.$planarDiePurple, 0.8) !important;
  }
}

.attraction .dice {
  .face {
    &.one {
      background-color: rgba(colors.$attractionOneColor, 0.8) !important;
    }
    &.two {
      background-color: rgba(colors.$attractionTwoColor, 0.8) !important;
    }
    &.three {
      background-color: rgba(colors.$attractionThreeColor, 0.8) !important;
    }
    &.four {
      background-color: rgba(colors.$attractionFourColor, 0.8) !important;
    }
    &.five {
      background-color: rgba(colors.$attractionFiveColor, 0.8) !important;
    }
    &.six {
      background-color: rgba(colors.$attractionSixColor, 0.8) !important;
    }
  }
}

// START- Hide the non facing sides
@keyframes backside {
  0% {
    visibility: hidden;
  }

  1% {
    visibility: visible;
  }

  100% {
    visibility: hidden;
  }
}

@mixin dot-animation() {
  background-color: colors.$translucent !important;
  .dot {
    // animation-duration: 2s;
    animation-name: backside;
    visibility: hidden;
  }
}

.dice {
  .die {
    // sass-lint:disable-block nesting-depth, force-element-nesting
    &.roll1,
    &.init-roll1 {
      .face.six {
        @include dot-animation();
      }
    }
    &.roll2,
    &.init-roll2 {
      .face.five {
        @include dot-animation();
      }
    }
    &.roll3,
    &.init-roll3 {
      .face.four {
        @include dot-animation();
      }
    }
    &.roll4,
    &.init-roll4 {
      .face.three {
        @include dot-animation();
      }
    }
    &.roll5,
    &.init-roll5 {
      .face.two {
        @include dot-animation();
      }
    }

    &.roll6,
    &.init-roll6 {
      .face.one {
        @include dot-animation();
      }
    }
  }
}

// END- Hide the non facing sides
