$black: #000;
$translucent: rgba(0, 0, 0, 0.2);

// MTG
$attractionOneColor: rgb(0, 0, 0);
$attractionTwoColor: rgb(1, 124, 148);
$attractionThreeColor: rgb(121, 183, 89);
$attractionFourColor: rgb(183, 170, 93);
$attractionFiveColor: rgb(154, 76, 134);
$attractionSixColor: rgb(182, 111, 94);

$planarDiePurple: rgb(63, 30, 54);
