@import "styles/colors";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$theme-colors: (
  "indigo": $indigo,
  "orange": $orange,
  "teal": $teal,
);

@import "~bootstrap/scss/bootstrap";
@import "styles/mtg";

$primary-trans: rgba($primary, 0.8);
$secondary-trans: rgba($secondary, 0.8);
$success-trans: rgba($success, 0.8);
$info-trans: rgba($info, 0.8);
$warning-trans: rgba($warning, 0.8);
$danger-trans: rgba($danger, 0.8);
$light-trans: rgba($light, 0.8);
$dark-trans: rgba($dark, 0.8);

.mtg-card {
  border-color: $black;
  border-radius: 8%;
  border-style: solid;
  border-width: 1px;

  &.no-border {
    border-radius: 0;
  }
}

.btn-translucent {
  &.btn-primary {
    background-color: $primary-trans;
  }

  &.btn-secondary {
    background-color: $secondary-trans;
  }

  &.btn-success {
    background-color: $success-trans;
  }

  &.btn-info {
    background-color: $info-trans;
  }

  &.btn-warning {
    background-color: $warning-trans;
  }

  &.btn-danger {
    background-color: $danger-trans;
  }

  &.btn-light {
    background-color: $light-trans;
  }

  &.btn-dark {
    background-color: $dark-trans;
  }
}

.text-shadow {
  text-shadow: 0 0 25px $dark, 0 0 5px $black;
}

.noselect {
  //sass-lint:disable-block no-vendor-prefixes
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.modal-dialog {
  &.bg-transparent {
    .modal-content {
      @extend .bg-transparent;
    }
  }
  &.bg-secondary {
    .modal-content {
      @extend .bg-secondary;
    }
  }
}

.modal-content-full {
  max-width: 98%;
}

.modal-content-no-border {
  .modal-content {
    border: 0;
  }
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.flip-x {
  transform: scaleX(-1);
}

.flip-y {
  transform: scaleY(-1);
}

.attractions,
.contraptions,
.vanguard {
  .carousel-control-prev,
  .carousel-control-next {
    align-items: self-start;
    padding-top: 40px;
  }
}
